
body {
    background-color: rgb(180, 230, 173);
}
#calculator-bg {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: block;
    direction: rtl;
    position: relative;
    width: 500px;
    height: 550px;
    border-radius: 10px;
    background-color: rgb(48, 44, 59);
    margin: auto;
}

#user-num {
    position: relative;
    background-color: rgb(215, 223, 238);
    font-size: 40px;
    border-radius: 10px;
    display: block;
    margin: 0 30px 0 auto;
    padding: 10px;
    top: -40px;
    width: 200px;
    height: 60px;
    overflow: hidden;
    unicode-bidi: plaintext;
    text-align: right;
}

#expression {
    background-color: rgb(215, 223, 238);
    border-radius: 10px;
    font-size: 40px;
    color: rgb(122, 122, 122);
    position: relative;
    display: block;
    margin: 0 auto 0 30px;
    padding: 10px;
    top: 40px;
    width: 220px;
    height: 60px;
    overflow: hidden;
    unicode-bidi: plaintext;
    text-align: left;
}

.num-div > div, .function-btns > div {
    height: 80px;
    width: 80px;
    line-height: 80px;
    position: relative;
    background-color: gray;
    cursor: pointer;
    border-radius: 3px;
}

.num-div {
    margin: 0 10px 0 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat((3, 1fr));
    gap: 10px;
    float: left;
    position: relative;
    bottom: 20px;
    text-align: center;
}

.num-div > div:active {
    background-color: rgb(116, 116, 116);
}

.function-btns {
    margin: 0 30px 0 10px;
    display: grid;
    float: right;
    position: relative;
    bottom: 20px;
    grid-template-columns: repeat(2, 40px);
    grid-template-rows: repeat((3, 1fr));
    column-gap: 50px;
    row-gap: 10px;
    text-align: center;
}

.function-btns > div:active {
    background-color: rgb(116, 116, 116);
}

#equal-btn {
    grid-column: 1 / 2;
    width: 170px;
    height: 80px;
    position: relative;
    background-color: rgb(86, 187, 86);
}

#equal-btn:active {
    background-color: rgb(48, 143, 48);
}


#delete-btn {
    background-color: rgb(250, 117, 117);
}

#delete-btn:active {
    background-color: rgb(192, 57, 57);
}

#clear-btn {
    background-color: rgb(255, 255, 138);
}

#clear-btn:active {
    background-color: rgb(197, 197, 70);
}

#expo-btn {
    line-height: 70px;
}

#decimal-btn {
    height: 40px;
    width: 80px;
    line-height: 35px;
    text-align: center;
    margin-right: 30px;
    bottom: 30px;
    position: relative;
    background-color: rgb(132, 223, 235);
    cursor: pointer;
    border-radius: 3px;
}

#decimal-btn:active {
    background-color: rgb(69, 170, 184);
}