body {
    background-color: rgb(180, 230, 173);
}
#calculator-bg {
    display: block;
    direction: rtl;
    position: relative;
    width: 270px;
    height: 285px;
    border-radius: 10px;
    background-color: rgb(48, 44, 59);
}

#user-num {
    position: relative;
    background-color: rgb(179, 192, 218);
    border-radius: 10px;
    display: block;
    margin: 0 15px 0 auto;
    padding: 5px;
    bottom: 15px;
    width: 120px;
    height: 30px;
    overflow: hidden;
    unicode-bidi: plaintext;
    text-align: right;
}

#expression {
    background-color: rgb(179, 192, 218);
    border-radius: 10px;
    color: rgb(122, 122, 122);
    position: relative;
    display: block;
    margin: 0 auto 0 15px;
    padding: 5px;
    top: 25px;
    width: 120px;
    height: 30px;
    overflow: hidden;
    unicode-bidi: plaintext;
    text-align: left;
}

.num-div > div, .function-btns > div {
    height: 40px;
    width: 40px;
    line-height: 40px;
    position: relative;
    background-color: gray;
    cursor: pointer;
    border-radius: 3px;
}

.num-div {
    margin: 0 10px 0 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat((3, 1fr));
    gap: 10px;
    float: left;
    text-align: center;
}

.function-btns {
    margin: 0 10px 0 10px;
    display: grid;
    float: right;
    grid-template-columns: repeat(2, 40px);
    grid-template-rows: repeat((3, 1fr));
    gap: 10px;
    text-align: center;
}

#equal-btn {
    grid-column: 1 / 2;
    position: absolute;
    width: 90px;
    height: 40px;
    line-height: 40px;
    position: relative;
    background-color: rgb(86, 187, 86);
    cursor: pointer;
    text-align: center;
}


#delete-btn {
    background-color: rgb(250, 117, 117);
}

#clear-btn {
    background-color: rgb(255, 255, 138);
}